@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 bg-white;
    font-family: 'Lato', system-ui, sans-serif;
  }
}


@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .delay-100 {
    animation-delay: 1s;
  }

  .delay-200 {
    animation-delay: 2s;
  }

  .delay-300 {
    animation-delay: 3s;
  }

  .delay-500 {
    animation-delay: 5s;
  }

  .delay-700 {
    animation-delay: 7s;
  }

  @keyframes flicker {

    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: 0.8;
      transform: scale(0.95);
    }
  }

  .animate-flicker {
    animation: flicker 1.5s infinite;
  }
}